@import "tailwindcss";


.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 4rem;
}

.content-table {
  height: 60vh;
  overflow-y: auto;
}